.card-ellipsis-body,
.card-ellipsis-title {
  position: relative;
}

.card-ellipsis-body::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3em;
  background: linear-gradient(
    to bottom,
    rgba(124, 53, 53, 0),
    rgba(124, 53, 53, 1) 100%
  );
}

.card-ellipsis-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
  height: 1em;
  background: linear-gradient(
    to left,
    rgba(124, 53, 53, 1) 50%,
    rgba(124, 53, 53, 0) 100%
  );
}

.bgcard {
  background: rgba(124, 53, 53);
}
