.next-button {
  background-color: #ff5242;
}

.next-button:hover {
  background-color: #6de3ed;
}

.finish-button {
  background-color: #21a7b3;
}

.finish-button:hover {
  background-color: #6de3ed;
}

.progressbar {
  background-color: #ff5242;
}
