.project-card-div {
  background-image: url("../assets/searchbg.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.newproject-button,
.next-button,
.add-team-member,
.add-link-button {
  background-color: #ff5242;
}

.newproject-button:hover,
.next-button:hover,
.add-team-member:hover,
.add-link-button:hover {
  background-color: #6de3ed;
}

.finish-button {
  background-color: #21a7b3;
}

.finish-button:hover {
  background-color: #6de3ed;
}

.newproject-button {
  position: fixed;
  top: 50px;
  right: 50px;
  z-index: 1;
}

.searchbar-container input:focus {
  border-color: #ff5242;
}

.searchinput {
  margin-top: 150px;
  margin-bottom: 10px;
}

@media (max-width: 550px) {
  .newproject-button {
    position: fixed;
    top: 50px;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}
